:root {
  --color-logo: #e63946ff;
  --color-primary: #f1faeeff;
  --color-secondary: #a8dadcff;
  --color-accent: #457b9dff;
  --color-text: #1d3557ff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.logo {
  color: var(--color-logo);
}

.bckgrnd {
  background-color: var(--color-primary) !important;
}
